/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Livvic:wght@300&display=swap');
@font-face {
    font-family: 'Intro';
    src: url('intro-regular-webfont.woff2') format('woff2'),
         url('intro-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Intro';
    src: url('intro-black-webfont.woff2') format('woff2'),
         url('intro-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

menu {
    height: 100px;
    width: 100px;
}

p{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: dimgrey;   
}

.container {
    display: flex;
    flex-direction: wrap;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.container > div {
    width: 200px;
    height: 100px;
    text-align: center;
  }

@media(max-width:750px) {
    width: 90/;
    display: flex;
    flex-direction: columns;
    gap:1rem;
}

display:grid;
grid-template-columns:repeat(auto-fit,minmax(15rem,1fr));